{% include "blog/header.html" %}


{% if form.errors %}
  <p>Seu nome de usuário e senha estão incorretos.Por favor, tente novamente</p>
{% endif %}

<div>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<center><i><h2>Login</h2></i></center>

<br><center><tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr></center></br>

<center><tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr></center>


<center><br><button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Login</font></font></button></br></center>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

<br><center><p><a href="{% url 'password_reset' %}">Perdeu a senha?</a></p></center></br>

