{% load static %}
<html lang="pt-br">
  <head>
    
    <meta charset="utf-8">
    <title>Garden Plants</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.css">
    
    <div class = "y">
      <a href="https://imgbb.com/"><img class="b" src="https://i.ibb.co/x5gqxRm/1222.png" alt="1222" border="15"></a>
      <a href="https://imgbb.com/"><img class="a" src="https://i.ibb.co/G5RYdmZ/unicorneo.png" alt="unicorneo" border="0"></a>
      <a href="https://imgbb.com/"><img class="c" src="https://i.ibb.co/Rytvnnv/23243434.png" alt="23243434" border="0">
    </div>

    <link href="album.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">


    <title>Garden Plants</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">  </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">       </script>

    <style type="text/css">

       
      .carousel-inner img {
          width: 100%;
          height: 100%;
      }

      #itens_direita {
        float : right;
      }

      #sidebar {
        margin-left: 10px;
      }

      #titulo {
          font-family: "Lato", sans-serif;
          color: white;
      }
      .botao {
      background-color: black;
      overflow: hidden;
      margin-top: 125px;
      }
      .botao a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      font-size: 15px;
      }
      .botao a:{
      background-color:#ddd
      color: black;
      }
      .b{
        float: left;
      }
      .c{
       float: right;
      }
      .a{
      padding-left: 550px;
      margin-top: 50px;
      }

      #aaa {
        background-color: #ffcbdb
      }

      .y {
        background-color: #ffffff 
      }

      #oi{
        color:black;
      }

      #meuu{
        float: right;
      }
      
      #odio{
        float: right;
      }
      

      
  
    </style>

  </head>
  <body>
   <div id="aaa">
    <div class="botao">
        <a class="active" href="/">Home</a>
        <a href="#">Curiosidades</a>
        <a href="{% url 'login'%}">Login</a>
        <a href="#">Cadastre-se</a>
        <a href="#">Sobre Nós</a>
        <a href="#">Comentários</a> 
        <form class="form-inline mt-0 md-2"  action= "{%url 'search' %}" method ="get">
          <input class="form-control mr-sm-0" name="q" type="text" placeholder="Pesquisa...">
          <button class="btn btn-outline-light my-4 my-sm-2" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pesquisar</font></font></button>
        </form>

         {% if request.user.is_authenticated %}
      {{ request.user.get_full_name }}
      <button class="btn btn-outline-light my-5 my-sm-0" id="meuu" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="{% url 'logout'%}">sair</a></button>
    {% else %}
      <button class="btn btn-outline-light my-0  my-sm-0" id ="odio" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a href="{% url 'login'%}">Click aqui para fazer o login</a></button>
    {% endif %}

        
    </div>
    
      <div class="col-lg-9 pt-5">

  
     
         
         
  
</body>



