<div class="col-3">
    <div class="card border-light text-center" style="max-width: 350px;">
        <div class="card-body">
            <center><img src = "{{post.banner.url}}"class = 'img-fluid'></center>
            <h4 class="card-title">{{ post }}</h4>
            <img src="{{ object.banner.url }}" class="img-fluid">
            <p class="card-text">{{ post.description }}</p>
            <p class="card-subtitle">Autor: {{ post.author }}</p>
            <p class="card-subtitle">Categoria: {{ post.category }}</p>
            <br>
            <a class="btn" style="color:white" href="{% url 'post-detail' post.pk %}">Leia mais</a>
        </div>
    </div>
</div>
<style>
    .btn {
        background-color: #000000
    }
</style>