<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% include "blog/header.html" %}

    <title>Olá, mundo!</title>
  </head>
  <body>
  <div  class="row">
        <div  class="col-md-3">
          {% include "blog/sidebar.html" %} 
           
        </div>

        <div  class="col-md-9">
          <div id="demo" class="carousel slide pull-right" data-ride="carousel">


            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            

            <div class="carousel-inner">
              <div class="carousel-item active">
                 </a><img src="https://i.ibb.co/z5z9KqT/1.jpg" alt="1" border="0"></a>
              </div>
              <div class="carousel-item">
                  <img src="https://i.ibb.co/XL9wYjK/aiaiaiaia.jpg" alt="aiaiaiaia" border="0"></a>
                </div>
                <div class="carousel-item">
                  <img src="https://i.ibb.co/Wtsgcg0/vamooo.jpg" alt="vamooo" border="0"></a>
                  </div>
              <div class="carousel-item active">
                <a href ="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwildnaturetoyou.files.wordpress.com%2F2017%2F10%2Fcampos-de-flores-02.jpg%3Fw%3D878&imgrefurl=https%3A%2F%2Fwildnaturetoyou.wordpress.com%2Fflores%2F&docid=JKF5JBMnEAFfoM&tbnid=bvt0LPkrxa0nUM%3A&vet=10ahUKEwjeiZLf5pHjAhWkoFsKHQgACOkQMwjVASgEMAQ..i&w=878&h=585&bih=657&biw=1366&q=imagens%20de%20flores&ved=0ahUKEwjeiZLf5pHjAhWkoFsKHQgACOkQMwjVASgEMAQ&iact=mrc&uact=8"><img src= "https://www.google.com/imgres?imgurl=https%3A%2F%2Fwildnaturetoyou.files.wordpress.com%2F2017%2F10%2Fcampos-de-flores-02.jpg%3Fw%3D878&imgrefurl=https%3A%2F%2Fwildnaturetoyou.wordpress.com%2Fflores%2F&docid=JKF5JBMnEAFfoM&tbnid=bvt0LPkrxa0nUM%3A&vet=10ahUKEwjeiZLf5pHjAhWkoFsKHQgACOkQMwjVASgEMAQ..i&w=878&h=585&bih=657&biw=1366&q=imagens%20de%20flores&ved=0ahUKEwjeiZLf5pHjAhWkoFsKHQgACOkQMwjVASgEMAQ&iact=mrc&uact=8/2.jpg" alt="2" border="0"></a>
            </div>
            
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
          </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style type="text/css">
      .carousel-inner img {
          width: 100%;
          height: 100%;
      }
      {% include "blog/rodape.html" %}
      {% block content %}
        <div class="row">

        </div>
      {% endblock %}


    </style>
  </body>

</html>