{% include "blog/header.html" %}
{% include "blog/sidebar.html" %}
{% block content %} 
<div class = "white">
	<h3 class="my-4">{{ object.title }}</h3>
	Categoria: {{ object.category }}
	<center><img src="{{ object.banner.url }}" class="img-fluid"></center>
	<p>{{ object.description }}</p>
        <p>{{ object.text|safe }}</p>
        Postado em: {{ object.created_at }} |
	Por: {{ object.author }} |
	
</div>

{% for comment in post.comments.all %}
		<p>
			<b>{{ comment.author }}</b>
			{{ comment.text }}
			{{ comment.created_at }}
		</p>
	{% endfor %}


   <form method="POST" action="{% url 'comment' object.id %}">
		{% csrf_token %}
		<textarea name="Comentário">
		</textarea>
                <input type="submit" value="Comentar">
   </form>


{% endblock %}