	<footer>
		<div class="container">
			<img	src="img/logo-rodape.png" alt="Logo	da	Mirror	Fashion"><ul	class="social">
				<li><a	href="http://facebook.com/mirrorfashion">Facebook</a></li>
				<li><a	href="http://twitter.com/mirrorfashion">Twitter</a></li>
				<li><a	href="http://plus.google.com/mirrorfashion">Google+</a></li>
			</ul> 
		</div>
	</footer>
	<style type="text/css">
				footer	{
			background-image:	url(img/fundo-rodape.png);
	}
	.social a	{
				height: 32px;
				width: 32px;
				display:	block;
				text-indent:	-9999px;		
		}
	.social a[href*="facebook.com"]	{
				background-image:	url(img/facebook.png);
		}
	.social a[href*="twitter.com"]	{
				background-image:	url(img/twitter.png);
		}
	.social a[href*="plus.google.com"]	{
				background-image:	url(img/googleplus.png);
		}
	footer	{
				clear:	both;
				padding: 20px 0;
	}
	footer .container	{
				position:	relative;
		}
	.social	{
				position:	absolute;
				top: 12px;
				right: 0;
		}
	.social li	{
			float:	left;
			margin-left: 25px;
	}
	</style>
