{% include "blog/header.html" %}
{% include "blog/sidebar.html" %}
{% block content %}

	<center><i><h2>Resultados da pesquisa...</h2></i></center>

    <div class="row">
        {% for post in object_list %}
            {% include "blog/post_card.html" %}
        {% endfor %}
    </div>

{% endblock %}